<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AzureLogging.LoggingAccount" value="DefaultEndpointsProtocol=http;AccountName=talarm;AccountKey=k81ECptOS6/P/o7jr2d9E3/k1eY7Z0j//gtQDAHhVI37Eo+rAAcdjIf22qqsCTzyV3SqtP4rpIThRpnyS0w1Ag=="/>
    <add key="AzureLogging.UseIncrementalIds" value="false"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>